:root {
    --background-gray: 	hsl(248, 15%, 11%);
    --container-background: hsl(247, 11%, 15%);
    --pri-heading: hsl(251, 9%, 53%);
    --almost-white: hsl(252, 11%, 91%);
    --light-gray: hsl(251, 9%, 53%);
    --neon: hsl(127, 100%, 82%);

}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-gray);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin: 0 16px;
    width: 100%;

}

main h1 {
    color: var(--pri-heading);
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}

#password_generated {
    color: var(--almost-white);
    display: block;
    background-color: var(--container-background);
    font-size: 1.5rem;
    padding: 1rem 0;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

#password_generated #password_text {
    margin: 0;
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: 800;
    background-color: var(--container-background);
    border: none;
    width: 80%;
    color: var(--almost-white);
}

#password_generated p{
    margin:0;
    align-self: center;
    margin-right: 1rem;
    font-size: 1rem;
    color: var(--neon);
    font-weight: 800;
}

#copy_icon {
    margin-right: 1rem;
    height: 20px;
    width: 17.5px;
    align-self: center;
    transition: filter .5s ease-out;
}

#copy_icon:hover{
    filter: grayscale(1);
    cursor: pointer;
}

form {
    background-color: var(--container-background);
    padding: 1rem;
}

#character_length_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    
}

.character_length {
    color: var(--almost-white);
    font-size: 1rem;
    font-weight: 800;
    align-self: center;
}




#range_text {
    font-size: 1.5rem;
    color: var(--neon);
    font-weight: 800;
    margin: 0;
}

#character_length{
    width: 100%;
    height: max-content;
    
    appearance: none;
    cursor:pointer;
    border: none;
    -webkit-appearance: none;
    background: linear-gradient(to right, var(--neon) 0%, var(--background-gray) 0%, var(--background-gray)100%);
}

input[type= "range"]::-webkit-slider-runnable-track{
    height: .5rem;
}

input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance: none;
    height: 1.75rem;
    width: 1.75rem;
    background-color: 	var(--almost-white);
    border-radius: 50%;
    margin-top: -.6rem;
}

input[type="range"]::-moz-slider-thumb{
    appearance: none;
    -webkit-appearance: none;
    height: 1.75rem;
    width: 1.75rem;
    background-color: 	var(--almost-white);
    border-radius: 50%;
    margin-top: -.6rem;
    transition: background 0.3s;
}

input[type="range"]:hover{
    cursor: pointer;
}

input[type="range"]:focus-visible::-webkit-slider-thumb, input[type="range"]::-webkit-slider-thumb:hover{
    background-color: var(--background-gray);
    border: 2px solid var(--neon);
}

.checkbox_container {
    color: var(--almost-white);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.checkbox_text{
    display: inline-block;
    /*width: 87%;
    margin-bottom: 1rem;*/
    color: var(--almost-white);
    font-weight: 800;
    
}

.checkbox_sub_container{
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
}

input[type=checkbox]{
    width: 1.25rem;
    height: 1.25rem;
}

input[type=checkbox]:hover{
    cursor: pointer;
}

.checkbox_text:hover{
    cursor: pointer;
}

input[type=checkbox]:checked{
    accent-color: var(--neon);
}


#strength_container{
    color: var(--light-gray);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-gray);
    margin: 2rem 0 1rem 0;
    padding: 1rem 1rem;
}

#header_strength{
    margin: 0;
    font-size: 1rem;
    color: var(--light-gray);
    align-self: center;
}

#strength_visual{
    display: flex;
    column-gap: 1rem;
    overflow: hidden;
    align-items: center;
}

#strength_text{
    color: var(--almost-white);
    font-weight: 800;
    margin: 0;
    align-self: center;
    overflow: hidden;
    text-transform: uppercase;
    text-align: right;
}

#strength_box{
    display: flex;
    column-gap: .5rem;
}

.boxes{
    width: 10px;
    height: 28px;
    align-self: center;
    border: 2px solid var(--almost-white);
    background-color: var(--container-background);
    transition: 0.3s;
}

.boxes.full{
    animation: barAppearance 250ms linear;
}

.tooweak .boxes.full{
    background-color: hsl(0, 91%, 63%);
    border-color: hsl(0, 91%, 63%);
}

.weak .boxes.full{
    background-color: hsl(13, 95%, 66%);
    border-color: hsl(13, 95%, 66%);
}

.medium .boxes.full{
    background-color: hsl(42, 91%, 68%);
    border-color: hsl(42, 91%, 68%);
}

.strong .boxes.full{
    background-color: hsl(127, 100%, 82%);
    border-color: hsl(127, 100%, 82%);
}

@keyframes barAppearance {
    0%{
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100%{
      transform: scale(1);
    }
  }

#generate {
    width: 100%;
    font-size: 1rem;
    font-weight: 800;
    background-color: var(--neon);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    transition: all 150ms ease-in;
}

#generate:hover{
    background-color: var(--container-background);
    color: var(--neon);
    border: .25px solid var(--neon);
    cursor: pointer;
}

#generate:hover img{
    filter: saturate(100) brightness(100) hue-rotate(200deg) contrast(100);
}

button#generate img{
    height: 12px;
    width: 12px;
    align-self: center;
}

#error-message{
    color: red;
    font-size: .8rem;
    text-align: center;
}

@media  (min-width: 48rem) {
    main{
        width: 80%;
        max-width: 34rem;
    }
    
}